body {
  min-height: 100vh; /* Ensure full viewport height */
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease; /* Smooth transition */
}

/* Default light background */
body.light-bg {
  background-image: url("images/light-bg.jpg");
}

/* Dark background when toggled */
body.dark {
  background-image: url("images/dark-bg.jpg");
}
